main {
    height: 4300px;
}
@media screen and (max-width: 800px) {
    main {
        height: 5100px;
    }
}

/*----------------sliderShow------------------*/
* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow-img1{
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
    background: url("../../images/JamesHarden.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.slideshow-img2{
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
    background: url("../../images/LebronJames.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.slideshow-img3{
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
    background: url("../../images/steven-adams.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 34px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 36px;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: right;
}

.number-text {
    color: #f2f2f2;
    font-size: 28px;
    padding: 16px 18px;
    position: absolute;
    top: 0;
}

.dot-div{
    text-align: center;
    position: relative;
    margin: 1em;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/*---------------googleMap nightMarket------------------*/
.googleMap{
    width: 100%;
    height: 500px;
}


.nightMarket{
    width: 90%;
    height: 600px;
    margin: 100px auto 0px auto;
    position: relative;
}
.nightMarket-select{
    width: 20%;
    position: relative;
    margin-left: 10%;
    text-align: left;
    float: left;
}
.nightMarket-checkbox{
    margin-bottom: 50px;
}
.nightMarket-searchName{
    margin-bottom: 50px;
}
.nightMarket-selectName{

}
.nightMarket-item{
    width: 50%;
    left: 10%;
    position: relative;
    float: left;
}
.nightMarket-item-box{
    width: 100%;
    height: 280px;
    text-align: left;
    padding: 1em 3em;
    display: flex;
}
.nightMarket-pic{
    width: 200px;
    height: 150px;
    position: relative;
    left: 15%;
    top: 15%;
}
.nightMarket-text{
    width: 300px;
}
.mapIcon{
    margin-top: 15px;
    margin-bottom: 15px;
}
@media screen and (max-width: 800px) {
    .nightMarket{
        margin: 0px auto 0px auto;
        
    }
    .nightMarket-select{
        width: 100%;
        left: 0px;
        position: relative;
        
    }
    .nightMarket-item{
        width: 100%;
        left: 0px;
        position: relative;
        
    }
    .nightMarket-item-box{
        padding: 0px;
        height: auto;
        display: block;
    }
    .nightMarket-pic{
        left: 0px;
        top: 0px;
    }
    .nightMarket-text{
        width: 100%;
    }
    .nightMarket-checkbox{
        margin-bottom: 10px;
    }
    .nightMarket-searchName{
        margin-bottom: 10px;
    }
    
}