main {
    height: 3350px;
}
/*----------------sliderShow------------------*/
* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot-div{
    text-align: center;
    position: relative;
    margin: 1em;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/*---------------googleMap nightMarket------------------*/
.googleMap{
    width: 100%;
    height: 500px;
}


.nightMarket{
    width: 90%;
    height: 600px;
    margin: 100px auto 0px auto;
    position: relative;
}
.nightMarket-select{
    width: 20%;
    position: relative;
    margin-left: 10%;
    text-align: left;
    float: left;
}
.nightMarket-checkbox{
    margin-bottom: 50px;
}
.nightMarket-searchName{
    margin-bottom: 50px;
}
.nightMarket-selectName{

}
.nightMarket-item{
    width: 50%;
    left: 10%;
    position: relative;
    float: left;
}
.nightMarket-item-box{
    width: 100%;
    height: 250px;
    text-align: left;
    padding: 1em 3em;
    display: flex;
}
.nightMarket-pic{
    width: 200px;
    height: 150px;
    position: relative;
    left: 15%;
    top: 15%;
}
.nightMarket-text{
    width: 300px;
}