@import 'reset.css';

body {
    font-size: 13px;
    line-height: 24px;
    font-family: "Microsoft JhengHei", "微軟正黑體", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
}

/*-------------------nav----------------*/
nav {
    width: 100%;
    height: 55px;
    max-height: 55px;
    line-height: 53px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    position: absolute;
    opacity: 0.92;
}

.navFixed {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    min-width: 100%;
    height: 55px;
    opacity: 0.92;
    transition: all 1s ease-out;
}

.module-left {
    height: 55px;
    width: 200px;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    float: left;
}

.module-left a {
    text-decoration: none;
    color: #666;
}

.module-right {
    height: 55px;
    width: 75%;
    font-size: 1em;
    text-align: center;
    position: relative;
    margin-right: 0px;
    float: right;
}

.menu {
    height: 55px;
    width: 650px;
    float: right;
}

.menu>li {
    height: 55px;
    width: 180px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    color: #666;
}

.menu a {
    text-decoration: none;
    color: #666;
}

.menu>li ul {
    font-size: 1em;
    width: inherit;
    padding: 8px 0;
    border-bottom: 0.5px solid #ccc;
    border-left: 0.5px solid #ccc;
    border-right: 0.5px solid #ccc;
    background: white;
    position: absolute;
    z-index: 20;
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.menu>li:hover>ul {
    opacity: 1;
}

.menu li:hover {
    opacity: 1;
    font: bold;
    background-color: antiquewhite;
}

.has-dropDown:after {
    background-color: aliceblue;
}

.menu .icon {
    display: none;
}

/* -----------------RWD nav*/

@media screen and (max-width: 800px) {
    .module-left {
        width: 40%;
        font-size: 1.5em;
    }

    .module-right {
        width: 60%;
    }

    .menu li {
        display: none;
    }

    .menu a.icon {
        width: 40px;
        float: right;
        display: block;
    }

    .menu.responsive {
        position: relative;
        width: 167%;
    }

    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .menu.responsive a {
        position: relative;
        float: none;
        display: block;
        text-align: center;
        z-index: 60;
    }

    .menu.responsive>li {
        position: relative;
        z-index: 990;
        float: none;
        display: block;
        left: 0px;
        top: 55px;
        width: 100%;
        text-align: center;
        background-color: white;
    }

}

/*-------------------header----------------*/
header {
    width: 100%;
    height: 350px;
    background: url("../../images/header-coffee.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: -3;
}

.banner-div {
    position: relative;
    width: 100%;
    height: 200px;
    left: 100px;
    top: 100px;
    color: whitesmoke;
    display: inline-block;
}

.banner-div div {
    display: inline-block;
    vertical-align: bottom;
    font-size: 2em;
    line-height: 1.6em;
}

.banner-head {
    background: url("../../images/台南玩大頭貼.jpg") -40px -40px no-repeat;
    background-size: 220px auto;
    height: 180px;
    width: 180px;
    border-radius: 180px;
    display: inline-block;
    margin-right: 40px;
    
}

.banner-div span {
    font-size: 0.7em;
    line-height: 0.7em;
}

/*--------------------RWD header*/
@media screen and (max-width: 800px) {
    .banner-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        left: 0px;
    }

    header {
        height: 460px;
    }

    .banner-head {
        position: relative;
        margin-right: 0px;
        z-index: -1;
    }

    .banner-div div {
        text-align: center;
    }
}

/*-------------------other----------------*/
main {
    height: 3000px;
}

.mark-ajax {
    margin-top: 200px;
}


.btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #999;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #111;
    text-align: center;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;

}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 800px) {
    h1{
        font-size: 1.5em;
    }
}

/*-------------------footer----------------*/
footer {
    background-color: rgb(54, 51, 51);
    width: 100%;
    height: 300px;
}

.footer-text {
    text-align: center;
    color: whitesmoke;
    position: relative;
    top: 100px;
}

.back-to-top {
    text-decoration: none;
    width: 60px;
    height: 30px;
    left: 47.5%;
    bottom: 0;
    color: whitesmoke;
    border-color: whitesmoke;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    bottom: -140px;
}

.back-to-top:hover {
    opacity: 1;
}

/*-----------RWD footer*/
@media screen and (max-width: 800px) {
    .back-to-top {
        left: 40%;
    }

}


