@import 'reset.css';

body {
    font-size: 13px;
    line-height: 24px;
    font-family: "Microsoft JhengHei", "微軟正黑體", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
}
/*-------------------nav----------------*/
nav {
    width: 100%;
    height: 55px;
    max-height: 55px;
    line-height: 53px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    position: absolute;
    opacity: 0.92;
}

.navFixed {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    min-width: 100%;
    height: 50px;
    opacity: 0.92;
    transition: all 1s ease-out;
}

.module-left {
    height: 55px;
    width: 200px;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    float: left;
}

.module-left a {
    text-decoration: none;
    color: #666;
}

.module-right {
    height: 55px;
    width: 800px;
    font-size: 1.2em;
    text-align: center;
    position: relative;
    margin-right: 0px;
    float: right;
}

.menu {
    height: 55px;
    width: 800px;
}

.menu>li {
    height: 55px;
    width: 180px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.menu a {
    text-decoration: none;
    color: #666;
}

.menu>li ul {
    font-size: 1em;
    width: 180px;
    padding: 8px 0;
    border-bottom: 0.5px solid #ccc;
    border-left: 0.5px solid #ccc;
    border-right: 0.5px solid #ccc;
    background: white;
    position: absolute;
    z-index: 20;
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.menu>li:hover>ul {
    opacity: 1;
}

.menu li:hover {
    opacity: 1;
    font: bold;
    background-color: antiquewhite;
}

.has-dropDown:after {
    background-color: aliceblue;
}
/*-------------------header----------------*/
header {
    width: 100%;
    height: 350px;
    background: url("../../images/header-coffee.jpg") no-repeat;
    background-size: cover;
}

.banner-div {
    width: 700px;
    height: 200px;
    margin-left: 100px;
    margin-top: 100px;
    color: whitesmoke;
    display: inline-block;
}

.banner-div div {
    display: inline-block;
    vertical-align: bottom;
    font-size: 2em;
    line-height: 1.6em;
}

.banner-head {
    background: url("../../images/台南玩大頭貼.jpg") -40px -40px no-repeat;
    background-size: 220px auto;
    height: 180px;
    width: 180px;
    border-radius: 180px;
    display: inline-block;
    margin-right: 40px;
}

.banner-div span {
    font-size: 0.7em;
    line-height: 0.7em;
}
/*-------------------other----------------*/
main {
    height: 3000px;
}

.mark-ajax {
    margin-top: 200px;
}


.btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #999;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #111;
    text-align: center;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;

}
/*-------------------footer----------------*/
footer {
    background-color: rgb(54, 51, 51);
    width: 100%;
    height: 300px;
}

.footer-text {
    text-align: center;
    color: whitesmoke;
    position: relative;
    top: 100px;
}

.back-to-top {
    text-decoration: none;
    width: 60px;
    height: 30px;
    left: 47.5%;
    bottom: 0;
    color: whitesmoke;
    border-color: whitesmoke;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    bottom: -140px;
}

.back-to-top:hover {
    opacity: 1;
}


/*----------------sliderShow------------------*/
* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}