@import 'reset.css';

html {
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}
body{
    background-color: #F8F8F8;
}
.menu{
    height: 100vh;
    width: 300px;
    background-color: rgb(148, 125, 95);
    float: left;
    position: relative;
}
.menu ul li{
    font-size: 1.3em;
    font-weight: 300;
    padding: 10px 30px;
    color: white;
    transition: 0.25s;
}
.menu ul li:hover{
    background-color: #e29e9e;
    color: #4a4a4a
}
.menu .title{
    padding: 20px 15px;
    background-color: #4a4a4a;
}
.menu .title .min_picture{
    background: url("../../images/學士服大頭貼.jpg") no-repeat;
    background-size: 91px auto;
    height: 91px;
    width: 91px;
    border-radius: 50px;
    display: inline-block;
}
.menu .title span{
    color: white;
    font-size: 1.7em;
    margin-left: 10px;
}
.menu .link {
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
}
.menu .link div{
    height: 30px;
    width: 30px;
    display: inline-block;
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 50px;
    margin: 10px 10px;
}
.menu .link .facebook{
    background: url("../../images/icons8-facebook.svg") 10px no-repeat;
    background-size: auto 24px;
}
.menu .link .github{
    background: url("../../images/icons8-github.svg") 9px no-repeat;
    background-size: 24px auto;
}
.menu .link .gmail{
    background: url("../../images/icons8-gmail.svg") 10px no-repeat;
    background-size: 24px auto;
}
.content{
    width: 100vw;
    height: 100vh;
    background-color: #F8F8F8;
}
.content .banner{
    width: 100%;
    height: 300px;
    background: url("../../images/coffee_louisa.jpg") 15px no-repeat;
    background-size: cover;
}
.content .banner div{
    color: #04b169;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: top;
    line-height: 2em;
}
.content .banner .banner-div{
    margin-top: 50px;
    margin-left: 80px;
}
.content .banner .banner-div span{
    font-size: 0.6em;
    line-height: 1.5em;
}
.content .banner .picture{
    background: url("../../images/學士服大頭貼.jpg") no-repeat;
    background-size: 150px auto;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    display: inline-block;
}
.content .resume .header{
    width: 1300px;
    height: 400px;
    background: url("../../images/resume_header.png") no-repeat;
    background-size: 1100px auto;
    margin-left: 300px;
}
.content .resume .skill{
    width: 1300px;
    height: 600px;
    background: url("../../images/resume_skill.png") no-repeat;
    background-size: 1100px auto;
    margin-left: 300px;
}
.content .resume .experience{
    width: 1300px;
    height: 900px;
    background: url("../../images/resume_experience.png") no-repeat;
    background-size: 1100px auto;
    margin-left: 300px;
}
